<li class="paper-entry" style="margin-bottom: 1em;">
  <strong>{{ include.paper.title }}</strong><br/>
  {% if include.paper.authors %}{{ include.paper.authors }}{% endif %}
  {% if include.paper.conf_name %}{{ include.paper.conf_name }} {{ include.paper.conf_year }}{% endif %}
  {% if include.paper.url %}<a href="{{ include.paper.url }}" target="_blank" class="links">link</a>{% endif %}
  {% if include.paper.code %}<a href="{{ include.paper.code }}" target="_blank" class="links">code</a>{% endif %}
</li>
